Q-17.  Write an SQL query to show the top n (say 10) records of a table.

In [1]:
Select *from worker order by Salary limit 10;

SyntaxError: invalid syntax (<ipython-input-1-402084041a68>, line 1)

In [ ]:

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
select *from (select *from worker order by salary desc limit 5) AS w1 order by w1.salary asc limit 1;