In [ ]:
#Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [ ]:
cursor.execute('select substring(FIRST_NAME,1,3) from Worker')

In [1]:
# Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [ ]:
cursor.execute('select FIRST_NAME,Locate("a",FIRST_NAME) as POSITION ,LAST_NAME from Worker')

In [ ]:
# Q-3 Write an SQL query to print the name of employees having the highest salary in each department.

In [ ]:
cursor.execute('select MAX(SALARY), DEPARTMENT from Worker group by  DEPARTMENT')