# Q-1. 
Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [ ]:
##Ans- 
Select rtrim(First_Name) from Worker

# Q2.
 Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [2]:
Ans---select distinct DEPARTMENT , length(DEPARTMENT) from worker

# Q-3. 
Write an SQL query to fetch nth max salaries from a table.

In [ ]:
# To calculate nth max salary use n-1 instead of 4 in the following command
select  distinct salary from worker order by salary desc limit 4,1