In [ ]:
Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:

select *from (select first_name,department ,dense_rank() over (order by salary desc)ran from worker) as t where t.ran=5;

In [ ]:
Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
select first_name,salary from worker where salary in (select salary from worker group by salary having count(salary)>1) order by salary desc ;